<div class="card flex justify-content-center gap-4">
  <p-button label="Aura-Light" [rounded]="true" severity="secondary" (click)="changeTheme('aura-light')" />
  <p-button label="Aura-Dark" [rounded]="true" severity="secondary" (click)="changeTheme('aura-dark')" />
  <p-button label="Material-Light" [rounded]="true" severity="secondary" (click)="changeTheme('material-light')" />
  <p-button label="Material-Dark" [rounded]="true" severity="secondary" (click)="changeTheme('material-dark')" />
  <p-button label="Bootstrap-Light" [rounded]="true" severity="secondary" (click)="changeTheme('bootstrap-light')" />
  <p-button label="Bootstrap-Dark" [rounded]="true" severity="secondary" (click)="changeTheme('bootstrap-dark')" />
</div>
